<% include ./partials/header %>
<div class="ui main text container segment">
	<div class="ui huge header"><%= gallery.title %></div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%= gallery.image %>" >
			<div class="content">
				<span><%= gallery.created.toDateString() %></span>
			</div>
			<div class="description">
				<p><%= gallery.body %></p>
			</div>
			<a class="ui orange basic button" href="/galleries/<%= gallery._id %>/edit">Edit</a>
			<form id ="delete" action="/galleries/<%= gallery._id %>?_method=DELETE" method="POST">
				<button class="ui red basic button">Delete</button>
			</form> 
		</div>
	</div>
</div>
<% include ./partials/footer %>